* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  max-width: 90%;
  margin: auto;
}

form {
  margin: 50px 0;
}

form input {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  display: block;
}

form button {
  width: 50%;
  padding: 10px;
  font-size: 18px;
}

.todoListItem {
  margin: 10px;
}

.errorMessage {
  color: red;
  background-color: rgb(255, 202, 202);
}

.loading {
  background-color: rgb(113, 186, 255);
}
